#who is creating tables?
creator
alex shirey

#db to use
database
aero_sample357

#data in HDFS
carrier_data_dir
/data/carrier

airport_data_dir
/data/airport

flight_data_dir
/data/flight


#HQLs to execute

#init tables and load data
00_hql
./hql/query_00_init_tables_load_data.hql

#Find all carriers who cancelled more than 1 flights during 2007,
#order them from biggest to lowest by number of cancelled flights and
#list in each record all departure cities where cancellation happened. 
01_hql
./hql/query_01_cancelled_carriers_with_cities.hql